.ref-parent {
    position: absolute;
    width: 100%;
    z-index: -10;
}

.ref-image {
    position: absolute;
    width: 100%;
    filter: opacity(1);
    z-index: 11;
    top: 0;
}


.root {
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 100vh;

    flex-flow: column;
    justify-content: center;

    align-items: center;

}

.root-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: blur(30px); */
    z-index: -1;
}

.panel-bg {
    position: absolute;
    top: -20%;
    width: 100%;
    height: 140%;
    object-fit: cover;
    filter: blur(20px) brightness(1.2);
    z-index: -1;
}

.login-panel {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    /* padding-top: 35px;
    padding-bottom: 20px; */

    /* padding-left: 20px;
    padding-right: 20px; */

    gap: 5px;

    border-radius: 10px;

    /* filter: blur(3); */

    /* overflow: hidden; */

}

.login-panel .log-label {
    font-size: 31px;
    font-weight: 700;
}

.login-panel .undersign-label {
    font-size: 13px;
    font-weight: 600;
    color: #808080;
}

.email-label {
    position: relative;
    /* margin-top: 5px; */
    /* width: 100%; */
    width: 240px;

    left: 2px;
    top: 5px;

    font-size: 13px;
    /* background-color: rgba(255, 255, 255, 0.149); */
}
.email-input-panel {
    /* display: flex; */
    position: relative;
    /* width: 50%; */
    /* margin-top: 5px; */


}

.email-input-panel .email-icon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 40px;
}

.email-input-panel .email-input {
    background-color: rgba(255, 255, 255, 0.149);
    border-color: #00000018;

    font-size: 13px;

    height: 40px;
    width: 240px;

    padding-left: 40px;
    /* margin-top: 15px; */
    border-radius: 10px;

}

.password-label {
    position: relative;
    width: 240px;

    left: 2px;
    top: 5px;

    font-size: 13px;

}

.password-input-panel {
    /* display: flex; */
    position: relative;
    /* width: 50%; */
    /* margin-top: 5px; */

}

.password-input-panel .password-icon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 40px;
}


.password-input-panel .password-eye {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 40px;

    left: auto;
    right: 10px;
}



.password-input-panel .password-input {
    background-color: rgba(255, 255, 255, 0.218);
    border-color: #00000018;

    font-size: 13px;

    height: 40px;
    width: 240px;

    padding-left: 40px;
    /* margin-top: 15px; */
    border-radius: 10px;

}

.forget-label {
    width: 245px;
    font-weight: 600;
    font-size: 10px;
    text-align: right;
    color: #808080;
}

.log-into-btn {
    margin-top: 14px;
    height: 39px;
    width: 240px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    background: rgb(142, 229, 213);
    background: linear-gradient(90deg, rgba(142, 229, 213, 1) 0%, rgba(59, 199, 196, 1) 100%);

}

.log-into-btn .label {
    font-weight: 600;
}

.or-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.or-panel .line-left,
.or-panel .line-right {
    background-color: black;
    height: 1px;
    width: 80px;

    background: linear-gradient(90deg, rgba(144, 145, 147, 1) 0%, rgba(144, 145, 147, 0) 100%);

}

.or-panel .line-left {
    background: linear-gradient(90deg, rgba(144, 145, 147, 0) 0%, rgb(144, 145, 147, 1) 100%);

}

.or-panel .or-label {
    font-size: 10px;
    font-weight: 600;
    
    color: #808080;
}



.apple-btn-panel {
    position: relative;
    /* margin-top: 14px; */
    height: 36px;
    width: 220px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    border-radius: 10px;

    padding-left: 10px;

    gap: 10px;
    /* gap: 10px; */

    /* background: rgb(205,246,238); */
    background: linear-gradient(90deg, rgba(205, 246, 238, 1) 0%, rgba(172, 230, 232, 1) 100%);
}

.apple-btn-panel img {
    width: 18px;
}


.google-btn-panel {
    position: relative;
    margin-top: 11px;
    height: 36px;
    width: 220px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    border-radius: 10px;

    padding-left: 10px;

    gap: 10px;

    /* background: rgb(205,246,238); */
    background: linear-gradient(90deg, rgba(205, 246, 238, 1) 0%, rgba(172, 230, 232, 1) 100%);
}

.google-btn-panel img {
    width: 18px;
}